<app-main-search></app-main-search>
<div class="events-container">
  <div class="title" fxLayout="row" fxLayoutAlign="start center">
    <span>Total Results: {{totalCount}}</span>
    <mat-button-toggle-group aria-label="View Style" fxFlexOffset="auto" (change)="changeView($event)">
      <mat-button-toggle value="apps" #viewtype checked>
        <mat-icon>apps</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="place">
        <mat-icon>place</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div *ngIf="viewtype.checked" fxLayout="row wrap" fxLayoutAlign="center start">
    <mat-spinner *ngIf="loading" color="accent"></mat-spinner>
    <div *ngFor="let event of events">
      <app-event [event]="event" [tag]="tags[event.tags[0]]"></app-event>
    </div>
  </div>
  <div *ngIf="!viewtype.checked">
    <div class="map" leaflet [leafletOptions]="options" [leafletLayers]="markers" [(leafletCenter)]="center"></div>
  </div>

</div>