# See http://help.github.com/ignore-files/ for more about ignoring files.

/ServerApi/obj
/ServerApi/bin
/ServerApi/Migrations
/ServerApi/.vs
/ServerApi/*.sln

# IDE - VSCode
.vscode/*
.history/*

# IDE - Visual Studio
.vs/*