# See http://help.github.com/ignore-files/ for more about ignoring files.

/obj
/bin
/Migrations

# IDE - Visual Studio
/.vs
/*.sln
.vs/*

# IDE - VSCode
/.vscode
.vscode/*
.history/*

# compiled output
/ClientApp/dist
/ClientApp/tmp
/ClientApp/out-tsc
/wwwroot

# user files
/ClientApp/src/assets/files

# dependencies
/ClientApp/node_modules

# profiling files
/ClientApp/chrome-profiler-events.json
/ClientApp/speed-measure-plugin.json

# misc
/ClientApp/.sass-cache
/ClientApp/connect.lock
/ClientApp/coverage
/ClientApp/libpeerconnection.log
/ClientApp/npm-debug.log
/ClientApp/yarn-error.log
/ClientApp/testem.log
/ClientApp/typings

