# See http://help.github.com/ignore-files/ for more about ignoring files.

/ServerApi/obj
/ServerApi/bin
/ServerApi/Migrations

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# IDE - Visual Studio
.vs/*