/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  margin: 0;
  padding: 0;
}

body {
  /*font-family: Tahoma;*/
  font-weight: normal;
}

.narrow-form {
  max-width: 360px;
  min-width: 280px;
  margin: 50px auto;
}
.auth-header-image {
  background-image: url('./assets/images/login-icon.svg');
  background-size: cover;
}