<mat-card>
  <mat-card-content>
    <div class="img" [style.backgroundImage]="'url(/assets/files/events/' + photo.eventId + '/_' + photo.fileName + ')'">
    </div>
    <mat-form-field>
      <textarea matInput [(ngModel)]="photo.description" placeholder="Description" rows="3" maxlength="1000"></textarea>
      <mat-hint align="end">{{photo.description.length}} / 1000</mat-hint>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <mat-checkbox [(ngModel)]="photo.visible">Visible</mat-checkbox>
    <button mat-icon-button (click)="deletePhoto()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="updatePhoto()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>