.container {
  min-height: 100vh;

  footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
}
mat-drawer-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}
mat-drawer-content {
  padding: 10px;
  min-height: 300px;
}
.filter-container {
  padding: 10px;
}
