<div fxLayout="column" class="container">
  <header>
    <app-header></app-header>
  </header>
  <main fxLayout="column" fxFlex="1">
    <mat-drawer-container fxFlex="1" (backdropClick)="onSidebarClosing()">
      <mat-drawer mode="over" [opened]="sidebarStatus" position="start">
        <div class="filter-container">
          <form #filterDataForm="ngForm" fxLayout="column" (ngSubmit)="applyFilter()">
            <mat-form-field>
              <input [matDatepicker]="datePickerFrom" matInput name="from" [(ngModel)]="model.from"
                (click)="datePickerFrom.open()" placeholder="Pick date from" [matDatepickerFilter]="dateFromFilter">
              <mat-datepicker-toggle matSuffix [for]="datePickerFrom"></mat-datepicker-toggle>
              <mat-datepicker touchUi #datePickerFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input [matDatepicker]="datePickerTo" matInput name="to" [(ngModel)]="model.to"
                (click)="datePickerTo.open()" placeholder="Pick date to" [matDatepickerFilter]="dateToFilter">
              <mat-datepicker-toggle matSuffix [for]="datePickerTo"></mat-datepicker-toggle>
              <mat-datepicker touchUi #datePickerTo></mat-datepicker>
            </mat-form-field>
            <mat-selection-list [(ngModel)]="model.tags" name="tags">
              <div *ngFor="let tag of tags">
                <mat-list-option *ngIf="tag" [value]="tag.id">
                  <img matListAvatar src="/assets/files/tags/{{tag.id}}.jpg" alt="{{tag.title}}" />
                  {{tag.title}}
                </mat-list-option>
              </div>
            </mat-selection-list>
            <mat-form-field>
              <mat-label>Sort</mat-label>
              <mat-select [(ngModel)]="model.sort" name="sort">
                <mat-option [value]="0">Latest</mat-option>
                <mat-option [value]="1">Popular</mat-option>
                <mat-option [value]="2">Nearest</mat-option>
              </mat-select>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Filter Events</button>
          </form>
        </div>
      </mat-drawer>
      <mat-drawer mode="over" [opened]="rightbarStatus" position="end">
        <mat-nav-list>
          <mat-list-item (click)="closeRightbar()">
            <mat-icon>home</mat-icon>
            <a routerLink="/">&emsp;Home</a>
          </mat-list-item>
          <div *ngIf="user$ | async; then loggedInLinks else loggedOutLinks"></div>
          <ng-template #loggedOutLinks>
            <mat-list-item (click)="closeRightbar()">
              <mat-icon>vpn_key</mat-icon>
              <a routerLink="/auth/login">&emsp;Login</a>
            </mat-list-item>
            <mat-list-item (click)="closeRightbar()">
              <mat-icon>how_to_reg</mat-icon>
              <a routerLink="/auth/register">&emsp;Register</a>
            </mat-list-item>
          </ng-template>
          <ng-template #loggedInLinks>
            <mat-list-item (click)="closeRightbar()">
              <mat-icon>event_available</mat-icon>
              <a routerLink="/events/new">&emsp;New Event</a>
            </mat-list-item>
            <mat-list-item (click)="closeRightbar()">
              <mat-icon>notes</mat-icon>
              <a routerLink="/events">&emsp;Manage Events</a>
            </mat-list-item>
            <mat-list-item (click)="logout()">
              <mat-icon>logout</mat-icon>&emsp;Logout
            </mat-list-item>
          </ng-template>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-drawer-content>
    </mat-drawer-container>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>