<div fxLayout="column" class="container">
  <header>
    <app-header></app-header>
  </header>
  <main fxLayout="column" fxFlex="1">
    <mat-drawer-container fxFlex="1" (backdropClick)="onSidebarClosing()">
      <mat-drawer mode="over" [opened]="sidebarStatus" position="start">

          filter items<br />
          from:
          <br />
          to:
          <br />
          str:
          <br />
          tags:
          <br />
          page:
          <br />
          count: 20
          <br />
          sort:

      </mat-drawer>
      <mat-drawer mode="over" [opened]="rightbarStatus" position="end">
        <mat-nav-list>
          <mat-list-item (click)="closeRightbar()">
            <mat-icon>home</mat-icon>
            <a routerLink="/">&emsp;Home</a>
          </mat-list-item>
          <div *ngIf="user$ | async; then loggedInLinks else loggedOutLinks"></div>
          <ng-template #loggedOutLinks>
            <mat-list-item (click)="closeRightbar()">
              <mat-icon>vpn_key</mat-icon>
              <a routerLink="/auth/login">&emsp;Login</a>
            </mat-list-item>
            <mat-list-item (click)="closeRightbar()">
              <mat-icon>how_to_reg</mat-icon>
              <a routerLink="/auth/register">&emsp;Register</a>
            </mat-list-item>
          </ng-template>
          <ng-template #loggedInLinks>
            <mat-list-item (click)="closeRightbar()">
              <mat-icon>event_available</mat-icon>
              <a routerLink="/events/new">&emsp;New Event</a>
            </mat-list-item>
            <mat-list-item (click)="closeRightbar()">
              <mat-icon>notes</mat-icon>
              <a routerLink="/events">&emsp;Manage Events</a>
            </mat-list-item>
            <mat-list-item (click)="logout()">
              <mat-icon>logout</mat-icon>&emsp;Logout
            </mat-list-item>
          </ng-template>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-drawer-content>
    </mat-drawer-container>
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
