<form #newEventForm="ngForm" class="narrow-form" (ngSubmit)="newEvent()">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon color="warn">event</mat-icon>
      </div>
      <mat-card-title>New Event</mat-card-title>
      <mat-card-subtitle>Let the world know!</mat-card-subtitle>
    </mat-card-header>
    <mat-drawer-content fxLayout="column">
      <mat-form-field>
        <input type="text" matInput name="title" required [(ngModel)]="model.title" placeholder="Title" />
      </mat-form-field>
      <div fxLayout="row">
        <mat-form-field fxFlex="1 1 50%">
          <input [matDatepicker]="datePicker" matInput name="holdingDate" required [(ngModel)]="model.holdingDate"
            placeholder="Pick event date" [matDatepickerFilter]="dateFilter">
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #datePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 50%">
          <input [ngxTimepicker]="timePicker" matInput name="time" [(ngModel)]="time" placeholder="Pick event time">
          <ngx-material-timepicker-toggle matSuffix [for]="timePicker">
            <svg height="16px" viewBox="0 0 24 24" width="16px" xmlns="http://www.w3.org/2000/svg"
              ngxMaterialTimepickerToggleIcon>
              <path
                d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 11 6 L 11 12.414062 L 15.292969 16.707031 L 16.707031 15.292969 L 13 11.585938 L 13 6 L 11 6 z">
              </path>
            </svg>
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #timePicker></ngx-material-timepicker>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input type="number" matInput name="duration" [(ngModel)]="model.duration" placeholder="Event Duration" />
        <mat-hint matSuffix>Hour(s)</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput name="capacity" [(ngModel)]="model.capacity" placeholder="Capacity" />
        <mat-hint matSuffix>People</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput name="description" [(ngModel)]="model.description" placeholder="Description"
          rows="3"></textarea>
        <mat-hint align="end">{{model.description.length}} / 1000</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput name="link" [(ngModel)]="model.link" placeholder="External Link"></textarea>
      </mat-form-field>
      <small>Event Location</small>
      <div class="map" leaflet [leafletOptions]="options" [leafletLayers]="markers" [(leafletCenter)]="center"
        (leafletClick)="mapClick($event)"></div>
      <mat-selection-list [(ngModel)]="model.tags" name="tags">
        <mat-list-option *ngFor="let tag of tags$ | async" [value]="tag.id">
          <img matListAvatar src="../../../assets/files/tags/{{tag.id}}.jpg" alt="{{tag.title}}" />
          {{tag.title}}
        </mat-list-option>
      </mat-selection-list>
    </mat-drawer-content>
    <mat-card-actions>
      <button [disabled]="!newEventForm.valid" mat-button>SUBMIT</button>
    </mat-card-actions>
  </mat-card>
</form>