.search {
  width: 360px;
  margin: 10px auto;
  position: relative;
  input {
    width: 360px;
    height: 35px;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 0 5px;
    border-radius: 2px;
  }
  mat-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    transform: scaleX(-1);
  }
}
