<mat-toolbar color="primary">
  <button mat-icon-button (click)="menuClick()">
    <div class="hamburger" [ngClass]="sidebarStatus">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </button>
  <a class="home-link" routerLink="/">
    <img src="assets/images/logo.png" />
  </a>
  <div fxFlexOffset="auto" fxLayout="row-reverse" fxLayoutGap="10px" fxLayoutAlign="center center">
    <button mat-icon-button (click)="userBtnClick()">
        <mat-icon>more_vert</mat-icon>
    </button>
    <img class="user-icon" src="/assets/images/login-icon.svg" />    
    <div *ngIf="user$ | async as user">{{user.name}}</div>
  </div>
</mat-toolbar>
<!--
<div *ngIf="user$ | async as user else authLinks">
  {{user.name}}
</div>
<ng-template #authLinks>
  <a routerLink="auth/login">Login</a>
  <a routerLink="auth/register">Register</a>
</ng-template> -->
