<form [formGroup]="registerForm" class="narrow" (ngSubmit)="register()">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Register</mat-card-title>
      <mat-card-subtitle>to unlock features</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input type="text" matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <label>
          <input type="radio" formControlName="gender" value="true" />
          Male
        </label>
        <label>
          <input type="radio" formControlName="gender" value="false" />
          Female
        </label>
        <label>
          <input type="radio" formControlName="gender" value="null" />
          Not Specified
        </label>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="User Name" formControlName="userName" />
      </mat-form-field>
      <mat-form-field>
        <input type="email" matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password" />
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="ReEnter Password" formControlName="passwordConfirmation" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!registerForm.valid" mat-button>REGISTER</button>
    </mat-card-actions>
  </mat-card>
</form>