.carousel-container {
  width: 100%;
  margin: 0;
  padding: 0;

  .ng2-carouselamos-container {
    width: 70%;
    margin: auto;
  }

  .slide-items {
    margin-right: 10px;

    img {
      width: 96px;
    }
  }
}
button[mat-icon-button] {
  background-color: #f44336;
  opacity: 0.6;
  transition: all 0.3s ease;

  &:hover{
    opacity: 1;
  }
}