<div class="narrow-form">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar [src]="headerImg" />
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <b>{{event.title}}</b>
        <span class="small-text">
          <a [routerLink]="['/']" [queryParams]="{userId: event.owner.id}" title="see all events of this user">
            {{event.owner.name}}
          </a>
        </span>
      </mat-card-title>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between center">
        <span class="small-text">
          {{ event.holdingDate | date:'EEEE, MMMM d, y, h:mm a' }}
        </span>
        <app-rating [rating]="event.rate" [votes]="event.votes"></app-rating>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="photo">
        <img class="img" [src]="'/assets/files/events/' + event.id + '/_' + currentPhoto.fileName" />
        <p class="desc" *ngIf="currentPhoto.description">{{currentPhoto.description}}</p>
      </div>
      <app-carousel [images]="event.photos" [eventId]="event.id" (select)="currentPhoto = $event"></app-carousel>
      <div fxLayout="row wrap">
        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start center">
          <button mat-icon-button>
            <mat-icon>visibility</mat-icon>
          </button>
          <p>{{event.visitCount + 1}} visited so far</p>
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start center">
          <button [disabled]="user ? null : true" mat-icon-button (click)="event.userFavorite = !event.userFavorite">
            <mat-icon [color]="event.userFavorite ? 'warn' : ''">favorite</mat-icon>
          </button>
          <p>{{event.favorite}} added to favorite</p>
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start center">
          <button [disabled]="user ? null : true" mat-icon-button (click)="event.userJoined = !event.userJoined">
            <mat-icon [color]="event.userJoined ? 'warn' : ''">person</mat-icon>
          </button>
          <p>{{event.joined}} joined this event</p>
        </div>
        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start center">
          <button [disabled]="user ? null : true" mat-icon-button (click)="event.userFollowed = !event.userFollowed">
            <mat-icon [color]="event.userFollowed ? 'warn' : ''">thumb_up</mat-icon>
          </button>
          <p>{{event.followed}} followed news</p>
        </div>
      </div>
      <p class="mat-small">* click on each item to add/remove yourself. <b>Login required</b></p>
      <p *ngIf="event.description">{{event.description}}</p>
    </mat-card-content>
  </mat-card>
</div>